<div class="container mt-4">
  <h3>Ingresar Datos del Docente</h3>
  <form (ngSubmit)="registrarDocente()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="docente.nombre">
    </div>
    <div class="mb-3">
      <label for="apellidoPat" class="form-label">DNI</label>
      <input type="text" class="form-control" id="apellidoPat" name="apellidoPat" [(ngModel)]="docente.dni">
    </div>
    <div class="mb-3">
      <label for="apellidoMat" class="form-label">Fecha de Nacimiento</label>
      <input type="date" class="form-control" id="apellidoMat" name="apellidoMat" [(ngModel)]="docente.fecha_nacimiento">
    </div>
    <div class="mb-3">
      <label for="direccion" class="form-label">Sueldo</label>
      <input type="number" class="form-control" id="direccion" name="direccion" [(ngModel)]="docente.sueldo">
    </div>
    <div class="mb-3">
      <label for="telefono" class="form-label">Email</label>
      <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="docente.email">
    </div>
    <div class="mb-3">
      <label for="fechaIngreso" class="form-label">Sexo</label>
      <input type="text" class="form-control" id="fechaIngreso" name="fechaIngreso" [(ngModel)]="docente.sexo">
    </div>
    <div class="mb-3">
      <label for="categoria" class="form-label">Categorias</label>
      <select class="form-select" id="categoria" name="categoria" multiple [(ngModel)]="docente.categoria" required>
        <option *ngFor="let cat of categoria" [ngValue]="cat">{{cat.nombre}}</option>
      </select>
    </div>
      <button type="submit" class="btn btn-primary ">Registrar Docente</button>
      <button class="btn btn-danger mx-2" (click)="cancelar()">Cancelar</button>
  </form>
</div>
