<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h3>Crear una nueva categoria</h3>
    </div>
    <div class="col-auto">
      <button class="btn btn-danger" (click)="regresar()">Regresar</button>
    </div>
  </div>
  <button class="btn btn-primary mt-4 mb-4" (click)="crearCategoria()">Crear Categoria</button>
</div>
<!-- Listado de Categorias -->
<div class="container mt-4">
  <h3>Listado de Categorias</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of categoria">
        <td>{{cat.id_categoria}}</td>
        <td>{{cat.nombre}}</td>
        <td class="text-center">
          <button (click)="editarCategoria(cat.id_categoria)" class="btn btn-primary me-2">Editar</button>
          <button (click)="eliminarCategoria(cat.id_categoria)"class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
