<!-- Formulario de Registro de Categoria -->
<div class="container mt-4">
  <h3>Registro de una nueva Categoria</h3>
  <form (ngSubmit)="registrarCategoria()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="categoria.nombre"required>
    </div>
    <button type="submit" class="btn btn-primary">Registrar Categoria</button>
    <button class="btn btn-danger mx-2" (click)="cancelar()">Cancelar</button>
  </form>
</div>
